@font-face {
  font-family: "3MCircular";
  src: url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-Book.eot);
  src: url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-Book.eot?#iefix) format("embedded-opentype"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-Book.woff) format("woff"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularTT-Book.ttf) format("truetype"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircular-Book.otf) format("opentype");
  font-weight: normal;
  font-style: normal
}
@font-face {
  font-family: "3MCircular";
  src: url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-Bold.eot);
  src: url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-Bold.eot?#iefix) format("embedded-opentype"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-Bold.woff) format("woff"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularTT-Bold.ttf) format("truetype"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircular-Bold.otf) format("opentype");
  font-weight: bold;
  font-style: normal
}

@font-face {
  font-family: "3MCircular";
  src: url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-BoldItalic.eot);
  src: url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-BoldItalic.eot?#iefix) format("embedded-opentype"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-BoldItalic.woff) format("woff"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularTT-BoldItalic.ttf) format("truetype"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircular-BoldItalic.otf) format("opentype");
  font-weight: bold;
  font-style: italic
}

@font-face {
  font-family: "3MCircular";
  src: url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-BookItalic.eot);
  src: url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-BookItalic.eot?#iefix) format("embedded-opentype"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-BookItalic.woff) format("woff"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularTT-BookItalic.ttf) format("truetype"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircular-BookItalic.otf) format("opentype");
  font-weight: normal;
  font-style: italic
}

@font-face {
  font-family: "3MCircular";
  src: url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-Light.eot);
  src: url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-Light.eot?#iefix) format("embedded-opentype"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-Light.woff) format("woff"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularTT-Light.ttf) format("truetype"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircular-Light.otf) format("opentype");
  font-weight: 200;
  font-style: normal
}

@font-face {
  font-family: "3MCircular";
  src: url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-LightItalic.eot);
  src: url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-LightItalic.eot?#iefix) format("embedded-opentype"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularWeb-LightItalic.woff) format("woff"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircularTT-LightItalic.ttf) format("truetype"),url(https://www.3m.com/3m_theme_assets/static/MDS/assets/3MCircular-LightItalic.otf) format("opentype");
  font-weight: 200;
  font-style: italic
}
